<!--
--  Project Name     : Project title - Add Blog
--  Author Name      : Prashan Basantia
--  Date of Creation : 29-09-2020
--  Description      : Description about This Add Blog page.
--                     This will have contain Add Blog form within a bootstart card.
                      This form only have Two filed one is blog subject and another is blog content
                      The field Blog Content is Textarea , and it will be customize as Tiny Editor 
                      if you don't know what is Tiny Editor . Please ask Google 
--
--  Modifications :
--  Modification Number : MOD000-- 
--  Modification        : dt-mm-yyyy
--  modification details:---
-->


{% extends 'admin_template/base.html' %}
{% block page_title %}
 Verify OTP
{% endblock page_title %}
{% block main_content %}
<!-- main content -->
<section class="content pt-2">
    <div class="container-fluid">
     

      <div class="row pt-3">
        <div class="col-md-12">
         
          <!--  card -->
          <form role="form" action="/password_verify_admin_change_mobile" method="POST" >
            {% csrf_token %}
          <!-- otp card -->
          <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">
              <div class="card card-primary" id="otp_card">
                  <div class="card-header p-0">
                    <h5 class="card-header">Verify Password</h5>
                  </div>
                <div class="card-body">
                  <input type="hidden" name="cust_id" id="cust_id" value="{{u_id}}">
                  <input type="hidden" name="username" id="cust_id" value="{{username}}">
                  <input type="hidden" name="email" id="cust_id" value="{{email}}">
                       <!-- alert messgae on success and error -->
                        {% include 'admin_template/msg.html' %}
                        <!-- / end alert message -->
                      <div class="form-group">
                        <label for="otp">Enter Current Password</label>
                        <input type="text" name="password"  class="form-control" id="otp"  autocomplete="off">
                      </div>
                      <center> <button type="submit"  class="btn btn-success btn-sm" id="sub_btn">Verify Password</button></center>
                </div>
              </div>
              </div>

          
          <div class="col-sm-3"></div>
                
          </div>


        </form>
        </div>
        <!-- /column -->
    </div>
    <!-- / row -->
</div>
</section>
<!-- / main content -->
{% endblock main_content %}
{% block custom_css%}
<style>
  
</style>
{%endblock custom_css%}

{% block custom_js%}


{% endblock custom_js %}