<!--
--  Project Name     : Project title - View Transaction
--  Author Name      : Prashan Basantia
--  Date of Creation : 29-09-2020
--  Description      : Description about This View transaction page.
                      this page is used to Show all the transaction  details from database
                      All these details are display within a javasrcipt data table and this table conatin pagination
                      and search operation this table have four column of Name Email Phone And Status
--                    
                      
--
--  Modifications :
--  Modification Number : MOD000-- 
--  Modification        : dt-mm-yyyy
--  modification details:---
-->

{% extends 'user_template/base.html' %}
{% block page_title %}
View Transaction
{% endblock page_title %}
{% block main_content %}
<main id="main">
<!-- main content -->
<section id="" class="" style="margin-top: 100px; background-color:rgb(229, 235, 235) ">
  <div class="container" data-aos="fade-up">
    <div class="row" data-aos="fade-up" data-aos-delay="100">
        <!--  column -->
        <div class="col-md-12">
          <!--  card -->
          
  
            {% regroup receipt by created_at|date:"d-m-Y" as receipt_date %}
            {% for rd in receipt_date %}
                {% regroup rd.list by cust_id.admin.email as customer %}
                  {% for c in customer %}
                    {% for d in c.list %}
                    {% ifchanged %}
                        <div class="card mb-2">
                          <div class="card-header py-1 text-light pl-3 pr-3 {% if d.receipt_type == 1%}bg-danger{%endif%} {% if d.receipt_type == 0%}bg-success{%endif%}">
                          <span class="float-left">
                             {% if d.receipt_type == 1%}Buy{%endif%} {% if d.receipt_type == 0%}Return{%endif%}</span><span class="float-right">{{ rd.grouper }}</span>
                        </div> 
                      </div>
                  
                    {% endifchanged %}
                    
                    <div class="t-row {% if d.receipt_type == 1%}text-danger{%endif%} {% if d.receipt_type == 0%}text-success{%endif%}">
                      <div class="column">
                        <p>{{ d.prod_id.name }}</p>
                        
                      </div>
                      <div class="column">
                        <p>{{ d.prod_id.unity }} KG</p>
                  
                      </div>
                      <div class="column">
                        <p>{{ d.prod_quantity }} Bag</p>
                        
                      </div>
                      <div class="column">
                        <p>{{ d.created_at|time }}</p>
                        
                      </div>
                    </div>
                    {% endfor %}
                      <!-- /2nd .card-body -->
                  <!-- </div>
                </div> -->
                  {% endfor %}
                  <!-- /1st .card-body -->
              <!-- </div>
            </div> -->
            {% endfor %}
            </div>
            
          

        </div>
        <!-- /column -->
    </div>
    <!-- / row -->
</div>
</section>
</main>
<!-- / main content -->
{% endblock main_content %}

{% block custom_js%}

<script>
  //this function used to add more functionality on a table like pagination searching 
  $(function () {
    $('#view_employee_table').DataTable();
  });
</script>
{% endblock custom_js%}
{%block custom_css%}
<style>
  * {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    
    text-align: center;
   
    height: auto; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .t-row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
{%endblock custom_css%}